<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="bookstore" connectionString="Data source=.\SQLEXPRESS;Initial Catalog=Bookstore;Integrated security=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key ="BooksKey" value="AIzaSyCpGPIhVWJp7MkvMqPAGHU0c-rjaLSJ06I"/>
  </appSettings>
</configuration>